.header {
  z-index: -1;
  background-image: var(--mobile-image);
  background-repeat: repeat;
  width: 100vw;
  height: $image-height;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: $transiton-time;
  user-select: none;

  @media (orientation: landscape) {
    background-image: var(--desktop-image);
    height: $big-image-height;
  }

  &__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50%;
    margin: 0 auto;

    @media (orientation: landscape) {
      width: 40%;
    }

    &-theme {
      transition: $transiton-time;
    }

    &-name {
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      letter-spacing: 15px;
      color: var(--font-color);
    }
  }

  &__section {
    width: 90%;
    height: 25%;
    margin: 0 auto;
    background-color: var(--task-background);
    position: relative;
    border-radius: 10px;
    transition: 0.3s;

    @media (orientation: landscape) {
      width: 40%;
    }

    &-circle {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: 5%;
    }

    &-add-task {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 87%;
      height: 60%;
      border: none;
      border-radius: 8px;
      background-color: transparent;
      color: var(--font-input-color);
      transition: $transiton-time;
    }

    &-add-task:focus {
      outline: none;
      background-color: transparent;
    }
  }
}
