.tasks {
  width: 90%;
  margin: $image-height - 30px auto 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--task-background);
  border-radius: 10px;
  transition: 0.3s;
  user-select: none;

  @media (orientation: landscape) {
    width: 40vw;
    margin-top: $big-image-height - 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    &-task {
      display: flex;
      align-items: center;
      padding: 20px 20px;
      border-bottom: 1px var(--border-color) solid;
      list-style-type: none;
      color: var(--font-input-color);
      transition: $transiton-time;
      cursor: move;

      &-circle {
        margin-right: 4%;
        background-color: transparent;
        transition: $transiton-time;

        @media (orientation: landscape) {
          &:hover {
            border: 1px solid transparent;
            background: var(--task-complete) border-box;
            mask: linear-gradient(#fff 0 0) padding-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            cursor: pointer;
          }
        }
      }

      &-circle--completed {
        background: var(--task-complete);
        transition: $transiton-time;

        @media (orientation: landscape) {
          &:hover {
            background: var(--task-complete);
            cursor: pointer;
            mask-composite: inherit;
            border: none;
          }
        }
      }

      &-circle--completed::after {
        content: "";
        background-image: url("/images/icon-check.svg");
        position: absolute;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
      }

      &-text {
        flex-basis: 95%;

        @media (orientation: landscape) {
          &:hover {
            cursor: pointer;
            color: var(--font-color-hover);
          }
        }
      }

      &-text--completed {
        text-decoration: line-through;
        color: var(--font-color-unactive);
        transition: $transiton-time;

        @media (orientation: landscape) {
          &:hover {
            cursor: pointer;
            color: var(--font-color-unactive-hover);
          }
        }
      }

      &-delete {
        background-color: transparent;
        border: none;
        background-image: url("/images/icon-cross.svg");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        @media (orientation: landscape) {
          & {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__number {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--font-color-unactive);

    &-button {
      background-color: transparent;
      border: none;
      color: var(--font-color-unactive);
      font-size: 1rem;
      font-family: "Josefin Sans", sans-serif;

      @media (orientation: landscape) {
        &:hover {
          cursor: pointer;
          color: var(--font-input-color-hover);
        }
      }
    }
  }
}
